<script src="http://cdn.peerjs.com/0/peer.min.js"></script>
<script>
    var selfId = "1111122222";
    var againstId = "2222211111";
    var conn;
    var peer = new Peer(selfId, {key: 'nra757eqn3njnhfr'});
    function connect(c) {
        conn = c;
        conn.on('data', function(data){
            document.getElementById("receive_message").innerHTML += againstId + ":" + data + "<br />";
        });
        conn.on('close', function(err){ alert(conn.peer + ' has left the chat.') });
    };
    function sendMessage(){
        document.getElementById("receive_message").innerHTML += selfId + ":" + document.getElementById("message").value + "<br />";
        conn.send(document.getElementById("message").value);
	}
    function onBodyLoad(){
        var c = peer.connect(againstId, {serialization: 'binary-utf8'});
        c.on('open', function(){
          connect(c);
        });
    }
</script>

<script data-turbolinks-eval="false">
	$(document).on('page:change', function(e) {
		onBodyLoad();
	});
</script>

<div>
    <input type="text" id="message"><input type="button" onClick="sendMessage();" value="send" />
    <div id="receive_message"></div>
</div>