
<script>
    var selfId;
    var againstId;
    var conn;
    var peer = new Peer(selfId, {key: 'nra757eqn3njnhfr'});
	peer.on('open', function(id) {
	  console.log('My peer ID is: ' + id);
	  selfId = id
	});
    function connect(c) {
        conn = c;
        conn.on('data', function(data){
            document.getElementById("receive_message").innerHTML += againstId + ":" + data + "<br />";
        });
        conn.on('close', function(err){ alert(conn.peer + ' has left the chat.') });
    };
    function sendMessage(){
        document.getElementById("receive_message").innerHTML += selfId + ":" + document.getElementById("message").value + "<br />";
        conn.send(document.getElementById("message").value);
	}
    function getConnection(){
		againstId = $("#against").val();
        var c = peer.connect(againstId, {serialization: 'binary-utf8'});
        c.on('open', function(){
          connect(c);
        });
    }
</script>

<div>
    <input type="text" id="against" value=""><input type="button" onClick="getConnection();" value="send" />
    <input type="text" id="message"><input type="button" onClick="sendMessage();" value="send" />
    <div id="receive_message"></div>
</div>