
<script src="https://skyway.io/dist/0.3/peer.js"></script>
<script>
  var yourApiKey = 'a31de8e2-acab-4b01-8fe0-9ac34ed2d325';
  var peer = new Peer({key: yourApiKey});
  console.log(peer);

  peer.on('open', function(id) {
    var anotherId = '接続先のPeerID';
    console.log(peer.id);
    console.log('anotherId' + anotherId);
    console.log('Browser = ' + util.browser);

    var conn = peer.connect(anotherId);
    conn.on('open', function() {
      console.log('-- open --');

      // メッセージを送信
      conn.send('Hello!');

      // メッセージを受信
      conn.on('data', function(data) {
        console.log('Received', data);
      });
    });
  });
</script>

<div>  <p>あなたのID : <span id="peer-id">qs5ymi96h0nt57b9</span></p>
  <div id="dial">
    <input type="text" id="others-peer-id" placeholder="相手のIDを入力"><button id="call">コール</button>
  </div>

  <video id="video" autoplay muted></video>
  <video id="others-video" autoplay></video>
</div>