<p>waiting</p>
<p><%= @matching_id %></p>
<%= link_to "cancel", entries_path(userid: @matching_id), method: :get, remote:true,
            data: { confirm: "You sure?" },
            class: "btn btn-success btn-large start-conversation" %>