<button class="chat-input-tool">
  <i class="icon icon-camera"></i>
</button>
<div class="chat-input" contenteditable></div>
<button class="chat-send" data-cid="<%= @conversation.id %>" data-rid="<%= @reciever %>">
  <i class="fa fa-paper-plane"></i>
</button>