<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.email, user %>

  <a>
  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
              "data-sid" => current_user.id, "data-rip" => user.id %>
  </a>
</li>