<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.email, user %>

  <a>
  <%= link_to "Send Message", conversations_path(sender_id: current_user.id,recipient_id:user.id),method:"post", class: "btn btn-success btn-xs start-conversation" %>
  </a>
</li>